
  body{
    background:url(https://i.ibb.co/vcc1NBY/dav.gif) repeat center center fixed black;
    background-size: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;

}
.rasm{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid grey;
}

link{
    text-decoration: none;
}

.social{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.social a{
    border: 2px solid grey;
    width: 4rem;
    height: 3rem;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350%;
    margin-block-start: 80%;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.social a:hover{
    background:white;
    color: black;
}